<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name = "logdir">D:\ForJava\IdeaProjects\javarush-textquest\logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="Localhost"
                     fileName="${logdir}/localhost.log"
                     filePattern="${logdir}/localhost.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy size = "1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Localhost" />
        </Root>
    </Loggers>

</Configuration>